html {
  height: 100%;
  /* background-image: linear-gradient(to top,rgb(55, 170, 180), rgb(9, 79, 116)) */
}

body {
  overflow: hidden;
}

.modal {
  position: absolute;
  width: 400px;
  left: 200px;
  top: 100px;
  transition: left 0.5s cubic-bezier(0.5, 0, 0.5, 1),
    top 0.5s cubic-bezier(0.5, 0, 0.5, 1),
    width 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}

task-bar {
  width: inherit;
}

#vertical {
  left: 100px;
  top: 200px;
}

.modal:has([window="maximized"]) {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
