html {
  height: 100%;
  /* background-image: linear-gradient(to top,rgb(55, 170, 180), rgb(9, 79, 116)) */
}
.modal {
  position: absolute;
  width: 400px;
  left: 300px;
  top: 100px;
}

.modal:has([window="maximized"]) {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

task-bar {
  width: inherit;
}

#vertical {
  left: 100px;
  top: 200px;
}
